[project]
	description = test project for youtube
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Abhinandangatti
[access "refs/for/refs/*"]
	read = group user/Abhinandangatti
	push = group user/Abhinandangatti
	label-Code-Review = -2..+2 group user/Abhinandangatti
	label-Verified = -1..+1 group user/Abhinandangatti
	rebase = group user/Abhinandangatti
	removeReviewer = group user/Abhinandangatti
	submit = group user/Abhinandangatti
[access "refs/heads/*"]
	read = group user/Abhinandangatti
	create = group user/Abhinandangatti
	push = +force group user/Abhinandangatti
	pushMerge = group user/Abhinandangatti
[access "refs/tags/*"]
	push = group user/Abhinandangatti
	push = +force group user/Abhinandangatti
